.recipt-container,.dateInfo,.reciverInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
}
.reciverInfo{
    margin-bottom: 20vh;
}
.dim{
    color: gray;
}
.light{
    color: white;
    font-weight: 500;
}
img {
    height: 30vh;
}

p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 7.5vh 0px 1vh 0px;
}