@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1E1E1E ;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}
img {
    height: 30vh;
}

p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 7.5vh 0px 2vh 0px;
}
input{
   background-color: #1E1E1E;
   border: none;
   text-align: center;

   margin: 0px;
   padding: 0px;
   height: fit-content;
   width: 350px;
   font-size: large;
}
.recipt-container,.dateInfo,.reciverInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
}
.reciverInfo{
    margin-bottom: 20vh;
}
.dim{
    color: rgb(165, 163, 163);
    font-weight: 400;
}
.light{
    color: whitesmoke;
    font-weight: 600;
}
.dateInfo{
    padding-bottom: 10vh;
}
.money-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#rupee{
    font-size: 2rem;
}
#money-input{
    font-family: inherit;
    font-size: 2rem;
    color: white;
    text-align: left;
    font-weight: bold;
    flex: 0 auto;
}
