img {
    height: 30vh;
}

p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 7.5vh 0px 2vh 0px;
}
input{
   background-color: #1E1E1E;
   border: none;
   text-align: center;
   margin: 0px;
   padding: 0px;
   height: 1.2rem;
}
.recipt-container,.dateInfo,.reciverInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
}
.reciverInfo{
    margin-bottom: 20vh;
}
.dim{
    color: gray;
}
.light{
    color: white;
    font-weight: 500;
}
.dateInfo{
    padding-bottom: 10vh;
}
.money-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#rupee{
    font-size: 2rem;
}
#money-input{
    font-family: inherit;
    font-size: 2rem;
    color: white;
    text-align: left;
    font-weight: bold;
    flex: 0 auto;
}
