@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1E1E1E ;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.InfoContainer{
    padding: 25px;
    border-radius: 10px;
    background-color: #202123;
}
.input-container{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
}
#Submit-input{
    font-size: xx-large;
    padding: 0.5rem;
    border-radius: 10px;
    width: 200px;
}
input{
    height: 1.8rem;
    width: 350px;
    font-size: large;
}

/* recipt */

